data/*
*.csv
*.json
*.log
*.tmp
*.bak   
*.swp
*.DS_Store     
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info
*.zip
*.tar.gz
*.rar
*.tar
*.gz
*.tgz
*.7z
*.log.*
*.out
*.pid
*.pid.lock
*.lock
*.coverage
*.cache
*.idea
*.vscode
*.ipynb_checkpoints
*.env
*.venv
*.virtualenv
*.pytest_cache
*.tox
*.mypy_cache


*.dist-info
*.egg
*.whl
*.egg-info/
*.dist
